@import '../../scss/vars';
.inner {
  display: flex;
  flex-direction: column;
  min-width: 286px;
  background-color: #fff;
  padding: 32px 15px 29px 15px;
}

.menuTitle {
  display: flex;
  align-items: center;
  gap: 13px;
  color: $acsent;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 22px;

  svg {
    path {
      stroke: $acsent;
    }
  }
}

.accordion {
  margin-bottom: 20px;
}

.arrow {
  display: none;
}

.btn {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $acsent;
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #259609;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: rgba(37, 150, 9, 0.15);
    color: $acsent;
    transition: all 0.5s;
  }
}

@media (max-width: 630px) {
  .inner {
    width: 100%;
    padding: 16px 15px 14px 15px;
    background-color: #f1f1f1;
    border-radius: 3px;
  }
  .accordion {
    margin-top: 30px;
    margin-bottom: 0;
    display: none;
  }
  .btn {
    display: none;
  }
  .menuTitle {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
    background-color: #f1f1f1;
    justify-content: space-between;
    color: #000000;
  }
  .active {
    display: block;
  }
  .arrow {
    display: block;
  }
}


